Repository KRochaS/concerts-recap: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      run: npx prettier --write {staged_files}
      glob: '*.{js,jsx,mjs,ts,tsx,css,json,md}'
      stage_fixed: true

    lint:
      run: npx eslint --fix {staged_files}
      glob: '*.{js,jsx,mjs,ts,tsx}'
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  commands:
    validate:
      run: npx tsc --noEmit --skipLibCheck
      glob: '*.{ts,tsx}'

    test:
      run: npm run test:coverage
      glob: '*.{ts,tsx}'

feat: add concert creation DTO, use case, and repository methods
  src/app/actions/concert.actions.ts
  src/core/application/concerts/create-concert.dto.ts
  src/core/application/concerts/create-concert.usecase.ts
  src/core/domain/concerts/concerts.repository.ts
  src/infra/repository/prisma-concert.repository.ts
  src/presentation/shared/components/ticketUpload/TicketUpload.tsx
Due: format, lint

feat: integrate concert creation form with validation and toast feedback
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemory.tsx
  src/presentation/shared/components/datepicker/Datepicker.tsx
  src/presentation/shared/components/fieldError/FieldError.tsx
  src/presentation/shared/components/textarea/Textarea.tsx
  src/presentation/shared/ui-model/shared.model.ts
Due: format, lint

test: add and update tests for concert creation and listing
  src/presentation/pages/concerts/concertCard/ConcertCard.spec.tsx
  src/presentation/pages/concerts/concertCardContent/ConcertCardContent.spec.tsx
  src/presentation/pages/concerts/concertList/ConcertList.spec.tsx
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemory.spec.tsx
  src/tests/app/actions/concert.actions.spec.ts
  src/tests/core/application/concerts/create-concert.usecase.spec.ts
  src/tests/infra/repository/prisma-concert.repository.spec.ts
  src/tests/mocks/data-providers/create-concert-action.data-provider.ts
  src/tests/mocks/mock-concert.repository.ts
Due: format, lint

chore: add react-toastify and update ESLint rules
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
Due: format, lint

refactor: improve concert card and page rendering
  src/app/concerts/page.tsx
  src/presentation/pages/concerts/concertCard/ConcertCard.tsx
Due: format, lint

feat: update schema and add migrations for concert fields
  prisma/migrations/20260219180425_make_fields_optional/migration.sql
  prisma/migrations/20260219181149_add_all_required_fields/migration.sql
  prisma/schema.prisma
Due: none

test: adiciona Playwright para testes end-to-end
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
Due: format, lint

fix: always display date in pt-BR format
  src/presentation/shared/components/datepicker/Datepicker.tsx
Due: format, lint

test: create concert e2e tests, setup, add global seed
  e2e/create-concert.spec.ts
  e2e/global-setup.ts
  e2e/hero.spec.ts
  playwright.config.ts
  src/infra/repository/prisma-concert.repository.ts
Due: format, lint

fix: show error toast with action result message
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemory.tsx
Due: format, lint

test: ensure date range filter in findByConcert
  src/tests/infra/repository/prisma-concert.repository.spec.ts
Due: format, lint

test: global next cache mock
  jest.setup.ts
Due: format, lint

refactor: modularize concert page with custom search hook and dedicated header
  src/presentation/pages/concerts/concertCard/ConcertCard.tsx
  src/presentation/pages/concerts/concertCardContent/ConcertCardContent.tsx
  src/presentation/pages/concerts/concertHeader/ConcertHeader.tsx
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemory.tsx
Due: format, lint

feat: add useConcertSearch hook and integrate nuqs for query state
  jest.config.ts
  package-lock.json
  package.json
  src/app/layout.tsx
  src/presentation/hooks/concertSearch/useConcertSearch.ts
  src/presentation/pages/concerts/concertCardContent/ConcertCardContent.spec.tsx
Due: format, lint

test: add e2e test for concert search functionality
  e2e/concert-search.spec.ts
Due: format, lint

feat: add revalidatePath to update cache after concert actions
  src/app/actions/concert.actions.ts
Due: format, lint

chore: run next build for production
  package.json
Due: format

chore: create CI workflow
  .github/workflows/ci.yml
Due: none

refactor: remove unused button from ConcertCardContent
  prisma/seed.ts
  src/presentation/pages/concerts/concertCardContent/ConcertCardContent.tsx
Due: format, lint

feat: add suppressHydrationWarning to html for hydration mismatch prevention
  src/app/layout.tsx
Due: format, lint

docs: create detailed README with setup, technologies, and features
  README.md
Due: format

Clean up README by removing unnecessary sections
  README.md
Due: format

Update README.md
  README.md
Due: format

feat: add ticket image upload with preview and Firebase Storage integration
  package-lock.json
  package.json
  prisma/migrations/20260203184436/migration.sql
  prisma/migrations/20260219180425_make_fields_optional/migration.sql
  prisma/migrations/20260219181149_add_all_required_fields/migration.sql
  prisma/migrations/20260226223854_init/migration.sql
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemory.tsx
  src/presentation/shared/components/ticketUpload/TicketUpload.tsx
  src/presentation/shared/lib/firebase.ts
Due: format, lint

fix: delete migrations
  prisma/migrations/20260226223854_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

feat: create migration
  prisma/migrations/20260227194247_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

feat: add ai dependencies
  package-lock.json
  package.json
Due: format

feat: create overlay component
  src/presentation/shared/components/loadingOverlay/LoadingOverlay.tsx
Due: format, lint

feat: add disabled state support to form components
  src/infra/repository/prisma-concert.repository.ts
  src/presentation/shared/components/datepicker/Datepicker.tsx
  src/presentation/shared/components/input/Input.tsx
Due: format, lint

feat: auto-fill concert details from ticket image using AI
  src/app/actions/concert.actions.ts
  src/app/api/chat/route.ts
  src/core/application/ai/extract-concert-data.usecase.ts
  src/core/application/ai/index.ts
  src/core/domain/ai/ai.repository.ts
  src/core/domain/ai/extracted-concert-data.entity.ts
  src/core/domain/ai/index.ts
  src/infra/repository/ai-api.repository.ts
  src/infra/repository/index.ts
Due: format, lint

refactor: extract initial memory form setup into useInitialMemoryForm
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemory.tsx
  src/presentation/pages/newConcert/steps/initialMemory/useInitialMemoryForm.ts
Due: format, lint

refactor: extract reusable components and hooks from InitialMemory
  next.config.ts
  src/presentation/hooks/useTicketImageExtraction.ts
  src/presentation/pages/newConcert/steps/initialMemory/ConcertDetailsGrid.tsx
  src/presentation/pages/newConcert/steps/initialMemory/DescriptionSection.tsx
  src/presentation/pages/newConcert/steps/initialMemory/InitialMemoryField.tsx
  src/presentation/pages/newConcert/steps/initialMemory/TicketSection.tsx
Due: format, lint

Revise README for clarity and added details
  README.md
Due: format

refactor: move concert data extraction from repository to service layer
  src/app/actions/concert.actions.ts
  src/core/application/ai/extract-concert-data.usecase.ts
  src/core/domain/ai/ai.service.ts
  src/core/domain/ai/index.ts
  src/infra/repository/index.ts
  src/infra/services/ai-api.service.ts
  src/infra/services/index.ts
Due: format, lint

refactor(ai): mover extração de ticket para AIApiService e remover /api/chat
  .github/copilot-instructions.md
  .github/domain-identification-agent.md
  .github/ide-instructions.md
  README.md
  docs/ARCHITECTURE-GUIDELINES.md
  docs/DDD-STRATEGIC-DESIGN-THEORY.md
  docs/DOMAIN-ANALYSIS.md
  docs/DOMAIN-IDENTIFICATION-EXAMPLE.md
  docs/DOMAIN-IDENTIFICATION-GUIDELINES.md
  docs/PLAN-AI-SUGGESTIONS.md
  docs/RFC-01-ARQUITETURA-EM-CAMADAS.md
  docs/USABILITY-GUIDELINES.md
  src/app/actions/concert.actions.ts
  src/app/api/chat/route.ts
  src/core/application/ai/extract-concert-data.dto.ts
  src/core/application/ai/index.ts
  src/core/application/concerts/create-concert.usecase.ts
  src/core/domain/concerts/concert.entity.ts
  src/core/domain/concerts/concerts.repository.ts
  src/infra/repository/prisma-concert.repository.ts
  src/infra/services/ai-api.service.ts
  src/infra/services/index.ts
  src/presentation/hooks/useTicketImageExtraction.spec.ts
  src/presentation/hooks/useTicketImageExtraction.ts
  src/tests/app/actions/concert.actions.spec.ts
  src/tests/core/application/ai/extract-concert-data.usecase.spec.ts
  src/tests/core/application/concerts/create-concert.usecase.spec.ts
  src/tests/infra/repository/prisma-concert.repository.spec.ts
  src/tests/infra/services/ai-api.service.spec.ts
  src/tests/mocks/mock-concert.repository.ts
Due: format, lint

test: polyfill TransformStream/ReadableStream/WritableStream in jest setup
  jest.setup.ts
Due: format, lint
